.sidebar
  width: 480px
  padding: 40px
  box-sizing: border-box
  background-color: #f8f8f8
  // min-height: 100vh
  z-index: 2
  overflow-x: hidden
  transition: all 0.4s ease-out
  max-height: calc(100%)
  @media (max-width: 969px)
    top: 0
    overflow-y: scroll
    position: fixed
    right: -480px
    &_open
      overflow-y: scroll
      // position: fixed

      right: 0
  @media (max-width: 380px)
    width: 100%
    overflow-y: scroll

    // height: 100P

  &__backdrop
    @media (max-width: 969px)
      width: 100vw
      height: 100%
      background-color: rgba(255,25,25,.3)
      position: fixed
      z-index: 1
      transition: all 0.4s ease
      left: 100%
      &_open
        left: 0
    @media (max-width: 380px)
      display: none

  &__header
    @media (max-width: 969px)
      right: 40px
      top: 40px
      position: fixed
      display: flex
      justify-content: flex-end
      margin-bottom: 20px
      z-index: 3

  &__button
    display: none
    margin-right: 10px
    width: 28px
    height: 28px
    background-color: #333333
    border-radius: 100px
    position: relative

    &::after, &::before
      transition: all .5s ease
      position: absolute
      left: 7px
      display: block
      content: ""
      width: 14px
      height: 2px
      border-radius: 2px
      background-color: #ffffff
    &::after
      top: 10px
    &::before
      top: 16px
    &_open
      &::after
        top: 13px
        transform: rotate(135deg)
      &::before
        transform: rotate(-135deg)
        top: 13px
    @media (max-width: 969px)
      display: block

  &__jokes
    @media (max-width: 969px)
      margin-top: 50px

  &__favorite
    font-size: 20px
    font-weight: 500
    line-height: 1.4
    color: #ababab
    @media (max-width: 768px)
      // float: right
